.notification
  チャットグループが作成されました

.side_bar
  .user
    .user_name
      名無しさん
      .icon
        %i.fa.fa-edit
        %i.fa.fa-cog
  .groups
    .group_header
      .group_name
        Sample room
        .last_message
          こんばんわ
      .group_name
        Sample room
        .last_message
          こんばんわ

.chat
  .group
    .left-header
      .current-group-name
        Sample room
      .members
        Members:
        .member
          名無しさん
    .right-header
      = link_to "Edit", "#", class:"right-header-button"
  .chats
    .user-name
      名無しさん
      .time
        2019/xx/xx
    .message
      こんばんわ
  .post
    %input{type: "text", name: "text", placeholder: "type a text", class: "text"}
    .post-wrapper
      %label
        %input{type: "file", name: "file", class: "file"}
        %i.fa.fa-image.icon
    %input{type: "submit", value:"send", class: "send"}





